/* FONTS */

  /* Source Sans Pro Black */
  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-BLACK.TTF') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-BLACKITALIC.TTF') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
    

  /* Source Sans Pro Bold */
  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-BOLD.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-BOLDITALIC.TTF') format('truetype');
    font-weight: 700;
    font-style: italic;
  }

  /* Source Sans Pro Semibold */
  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-SEMIBOLD.TTF') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-SEMIBOLDITALIC.TTF') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
    

  /* Source Sans Pro Regular */
  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-REGULAR.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-ITALIC.TTF') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
    
  /* Source Sans Pro Light */
  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-LIGHT.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-LIGHTITALIC.TTF') format('truetype');
    font-weight: 300;
    font-style: italic;
  }

  /* Source Sans Pro Extralight */
  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-EXTRALIGHT.TTF') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Source Sans Pro";
    src: url('./assets/fonts/SourceSansPro/SOURCESANSPRO-EXTRALIGHTITALIC.TTF') format('truetype');
    font-weight: 200;
    font-style: italic;
  }


/* colors and templates */
:root{
--pink-light:  rgb(236, 178, 239);
--pink:  rgb(229, 109, 235);
--pink-dark:  rgb(197, 19, 206);
--yellow-dark: #EECA69;
--yellow-bg: #FFFBEC;
--grenn-bg: #E4FFEA;
--grenn-bg-trans: #e4ffeaf1;
--green-light: #BBFFCA;
--green-dark: #285133;
--videowidth: 60vw;
--videopadding: 4vw;
--app-height: 2200px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--yellow-bg);
  height: var(--app-height);
}

/* Text Formatting */

h1{
  font-size: 21px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  margin-top: 4rem;
}

h2 {
  font-size: 21px;
  line-height: 27px;
  font-family: "Source Sans Pro";
  font-weight: 600;
}
h2 > p {
  margin-top: 0.5rem;
  font-size: 16px;
  color: var(--pink-dark);
  line-height: 21px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: italic;
}

h3 {
  font-size: 16px;
  line-height: 21px;
  font-family: "Source Sans Pro";
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

h2 a {
  font-size: 21px;
  line-height: 27px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  text-decoration: underline;
  color: var(--green-dark);
}

p a {

  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  text-decoration: underline;
  color: var(--green-dark);

}


ul {
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

body::-webkit-scrollbar {
  display: none;

}

/* Pop Up Container */

#popup {
  height: var(--app-height);
  width: 100%;
  position: absolute;
  overflow: hidden;
}


/* Canvas */
#canvas-container {
  position: absolute;
  width: 100%;
  display: grid;
  padding-top: 2rem;
  justify-items: center;
  align-items: start;
}

canvas {
  z-index: 1;
  border-radius: 33px;
  cursor: default;
}




.flex_center{
display: flex;
justify-content: center;
}

/* Video */

.video {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: var(--app-height);
  display: grid;
  justify-items: center;
  align-items: start;
  background-color: var(--grenn-bg-trans);
  opacity: 1;
  transition: background-color .2s linear .1s;
}

.video.hidden {
  background-color: transparent;
  pointer-events: none;
}

.video.hidden > .video-content-wrapper {
  top: 120%;
  height: 0%;

}

.video-content-wrapper {
  width: 111ch;
  max-width: 95vw;
  display: grid;
  gap: 1.25rem;
  position: relative;
  top: 0%;
  padding-top: 1rem;
  padding-bottom: 5rem;
  justify-items: center;
  transition: top .6s ease-in-out .1s;
}

.video-title {

  width: 100%;
  font-size: 33px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  color: var(--green-dark);
  background-color: var(--yellow-dark);
  padding: 1rem 2rem;
  text-align: center;
  word-spacing: 2px;

  border-radius: 22px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));

}

.video-container {
  width: 100%;
  aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
  overflow: hidden;
  padding: 16px;
  position: relative;
  background-color: var(--green-light);
  border-radius: 22px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));
}

.iframe-video {
  border-radius: 15px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  position: absolute; /* necessary to fill the container */
  top: 1rem;
  left: 1rem;
}

.video-description {
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  height: fit-content;

  border-radius: 15px;
  background-color: var(--green-light);
  border-radius: 22px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));
}

/* Articles */


.article {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: var(--app-height);
  display: grid;
  justify-items: center;
  align-items: start;
  background-color: var(--grenn-bg-trans);
  opacity: 1;
  transition: background-color .2s linear .1s;
}

.article.hidden {
  background-color: transparent;
  pointer-events: none;
}


.article-content-wrapper {
  width: 77ch;
  max-width: 95vw;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  position: relative;
  top: 0%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  justify-items: center;
  transition: top .6s ease-in-out .1s;
}

.article.hidden > .article-content-wrapper {
  top: 120%;
  height: 0%;

}

.close-button {
  justify-self: end;
  grid-row-start: 1;
  padding: .5rem;
  width: 13ch;
  height: 2.5rem;
  position: relative;
  right: -2rem;
  background-color: var(--pink-light);

  border-radius: 17px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));

}

.close-button:hover {
  background-color: var(--pink);
  filter: drop-shadow(2px 3px 0px var(--green-dark));
}

.next-button {
  justify-self: end;
  grid-row-start: 4;
  padding: .5rem;
  width: 13ch;
  height: 2.5rem;
  position: relative;
  right: -2rem;
  background-color: var(--pink-light);

  border-radius: 17px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));

}

.next-button:hover {
  background-color: var(--pink);
  filter: drop-shadow(2px 3px 0px var(--green-dark));
}


.article-title {
  grid-row-start: 2;
  width: 100%;
  font-size: 33px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  color: var(--green-dark);
  background-color: var(--yellow-dark);
  padding: 2rem 2rem;
  text-align: center;
  word-spacing: 2px;

  border-radius: 22px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));

}

.article-body {
  grid-row-start: 3;
  width: 100%;
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--green-light);

  border-radius: 22px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));
}


.article-table {
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 300;
  padding: 3rem 1rem;
}

.article-table .caption {
  font-size: 11px;
  font-family: "Source Sans Pro";
  font-weight: 300;
  padding-top: 2rem;
  text-align: right;
}

.article-table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.article-table thead th {
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  color: #285133;
}

.article-table thead th:nth-child(1) {
  width: 15%;
}

.article-table thead th:nth-child(2) {
  width: 15%;
}

.article-table thead th:nth-child(3) {
  width: 10%;
}

.article-table thead th:nth-child(4) {
  width: 20%;
}

.article-table thead th:nth-child(5) {
  width: 20%;
}

.article-table thead th:nth-child(6) {
  width: 20%;
}

.article-table td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #2851330d;
}

tbody tr:nth-child(even) {

}
 



#SocialMedia {
  display: grid;
  grid-template-columns: auto calc(77ch + 4rem) 300px auto;
  column-gap: 48px;
  justify-items: center;
  align-items: start;
}

#SocialMedia > .article-content-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
}

#SocialMedia .video-container {
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  top: 15.4rem;
  transition: top .6s ease-in-out .3s;
  width: 300px;
  height: 533px
}

#SocialMedia.hidden .video-container {
  top: 120%;
}



/* Loader */

lds-ellipsis {
  z-index: 5;
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #8CF3BE;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/* mobile warning */

#mobile-warning {
  display: none;
  background-color: var(--pink-light) ;
  padding: 5vw;
  text-align: center;
  border-radius: 15px;
  font-family: "Source Sans Pro";
  font-weight: 500;
  position: fixed;
  top: 25vh;
  width: 80vw;
  margin: 5vw;
  z-index: 1000;
}



#JB-title {
  color: var(--green-dark);
  font-family: 'Source Sans Pro', sans-serif; /* added fallback */
  font-weight: 600;
  font-size: 60px;
  position: absolute;
  z-index: 1010;
  text-align: center;
  width: 100%;
  top: 66px;
  left: 0; /* explicit positioning */
  pointer-events: none;
  transition: font-size 3s ease 0.5s, top 3s ease 0.5s, transform 3s ease 0.5s, opacity 1s ease 0s;
  transform: translateZ(0); /* GPU acceleration */
}

#JB-title.loading {
  font-size: 88px;
  top: 300px;
}

body:has(.pop-up-container:not(.hidden)) #JB-title {
  opacity: 0;
}


#impressum {
  display: grid;
  grid-template-columns: 140px 530px;
  position: fixed;
  column-gap: 4px;
  bottom: 1rem;
  left: 1rem;
  transition: grid-template-columns 1s ease;
}

#impressum:has(#impressum-list.hidden) {
  grid-template-columns: 140px 0px;
}

#impressum p {
  padding-top: .5rem;
}


#impressum ul {
  padding-top: -1rem;
}

#impressum-list {
  align-self: flex-end;
  padding: 20px 40px 0px 40px;
  color: var(--green-dark);
  font-size: 16px;
  width: 450px;
  max-width: 95vw;
  background-color: var(--pink-light);
  border-radius: 22px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  z-index: 100;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: height 1s ease 0.5s, opacity 0.5s ease 0.5s;
  min-height: 65px;
}

#impressum-list.hidden {
  height: 0%;
  opacity: 0;
}


#impressum-list p {
  margin: 0.5rem 0;
}

#impressum-list ul {
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

#impressum-list li {
  margin-bottom: 0.25rem;
}

#impressum-button {
    /* Adjust if a button should appear */
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  align-self: flex-end;
  z-index: 100;
  grid-row-start: 1;
  padding: 10px;
  width: 120px;
  height: 45px;
  background-color: var(--pink-light);
  border-radius: 17px;
  border: solid;
  border-color: var(--green-dark);
  filter: drop-shadow(4px 6px 0px var(--green-dark));

}

#impressum-button:hover {
  background-color: var(--pink);
  filter: drop-shadow(2px 3px 0px var(--green-dark));
}

#impressum:has(#impressum-list:not(.hidden)) #impressum-button {
  background-color: var(--pink);
   filter: drop-shadow(2px 3px 0px var(--green-dark));
}

